#landing{
    height: 100vh;
    background-image: url('/MATERIALISE TRAINING/imgs/BG.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 20vh;
    font-weight: bolder;
    letter-spacing: 17PX
}
#sub-headers{
/* WIDTH: 116%; */
}
#btn{
    width: 15em;
    border-radius: 2em ;
    margin-top: 6EM;
}
#nav-btn{
    border-radius: 2em ;
    
}
#pre-inscription{
  position: relative;
}
#text{
  margin-top: 3EM;
  margin-bottom: 3EM;
  line-height: 2.5;
}
#txt-btn{
  position: absolute;
  width: 15em;
  border-radius: 2em ;
  transform: rotate(90deg);
  bottom: 40%;
  right: -5%;
}

#values{
    background-color:#0b5385;
    padding-bottom: 2em;
}
#values-header{
  margin-top: 1EM;
  margin-bottom: 1EM;
}
#value{
    text-decoration: underline;
}

#nxt-events{
    background-color: #0b5385;
}

*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .content {
    position: relative;
    width: 100%;
    /* max-width: 300px; */
    margin: auto;
    overflow: hidden;
  }
  .content .content-overlay {
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
  }
  .content:hover .content-overlay {
    opacity: 1;
  }
  .content:hover .content-details {
    top: 50%;
    left: 75%;
    opacity: 1;
  }
  
  .content-image {
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: justify;
    font-weight: bolder;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 30%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
  }
  
  
  .fadeIn {
    top: 80%;
  }

  #footer{
    margin-top: -20px;
  }
  
  @media only screen and (max-width: 990px){
    #txt-btn{
  position: static;
  width: 15em;
  border-radius: 2em ;
  transform: none;
  margin-bottom: 3em;
  
    }
  }