#landing{
    height: 100vh;
    background-image: url('/MATERIALISE TRAINING/imgs/img1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 20vh;
    /* font-size: 577%; */
}
#sub-headers{
WIDTH: 105%;
/* MARGIN-LEFT: 4EM; */
}
#btn{
    width: 15em;
    border-radius: 2em ;
    margin-top: 6EM;
}

#values{
    background-color:#0b5385;
}

#nxt-events{
    background-color: #0b5385;
}

*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .content {
    position: relative;
    width: 100%;
    /* max-width: 300px; */
    margin: auto;
    overflow: hidden;
  }
  .content .content-overlay {
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
  }
  .content:hover .content-overlay {
    opacity: 1;
  }
  .content:hover .content-details {
    top: 50%;
    left: 75%;
    opacity: 1;
  }
  
  .content-image {
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: justify;
    font-weight: bolder;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 30%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
  }
  
  
  .fadeIn {
    top: 80%;
  }
  
 